//nav.scss

header{
  nav{
    position: relative;
    ul{
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      transition: all .3s ease-out;

      @include vh(true);

      li{
        margin:  .5rem 0 0;
      }
      a{
        display: block;
        padding: .5rem;
        text-decoration: none;

        &:hover,
        &:active,
        &:focus{
          text-decoration: underline;
        }
      }
    }
    @media (min-width: $nav-main-query) {
      ul{
        @include vh-reset;
        flex-flow: row wrap;

        & > li{

          padding: $gap-small;
          padding: 0 var(--gap, $gap-small);
        }

        & > li:first-child{
            margin-left: auto;
        }

        & > li:last-child{
            padding-right: 0;
        }
      }
    } 
 
  }

  .toggle-menu{
    @media (min-width: $nav-main-query){
      display: none;
    }
  }

  
}
.active{
  nav ul{@include vh-reset;}
}
