//Gap 

:root{
    --gap: #{$gap-small};

    @media(min-width: $grid-query-medium){
		--gap: #{$gap-medium};
	}

	@media(min-width: $grid-query-large){
		--gap: #{$gap-large};
	}
}

.grid{
    display: grid;
    grid-gap: $gap-small;
    grid-gap: var(--gap, $gap-small);

    @media(min-width: $grid-query-medium){
        grid-gap: $gap-medium;
        grid-gap: var(--gap, $gap-medium);
	}

	@media(min-width: $grid-query-large){
        grid-gap: $gap-large;
        grid-gap: var(--gap, $gap-large);
	}
}

//Layout

.container{
  position: relative;
  width: 100%;
  max-width: $max-width-desktop;
  margin: 0 auto;
  padding: 0 $gap-small;
  padding: 0 var(--gap, $gap-small);

  @media(min-width: $grid-query-medium){
      padding: 0 $gap-medium;
      padding: 0 var(--gap, $gap-medium);
  }

  @media(min-width: $grid-query-large){
        padding: 0 $gap-large;
        padding: 0 var(--gap, $gap-large);
  }
}

section{
  margin-bottom: $section-margin; 
  width: 100%;
}