//fonts.scss

//   -------------------     Fonts     -------------------   

//Text

$base-font: "",sans-serif;
$base-lineheight: 1.5;
$base-fontsize: 1rem;
$base-weight: 400;

$text-maxwidth: 64ch;

$fontsize-smaller: .8rem;
$fontsize-small: 1rem;
$fontsize-medium: 1.125rem;
$fontsize-large: 1.25rem;

//Titles

$title-font: "",sans-serif;
$title-lineheight: 1.1;
$title-weight: 700;
$title-fontsize: 2rem;

$title-main-fontsize: 6rem;

//Links

$link-font: $base-font;
$link-lineheight: $base-lineheight;
$link-fontsize: $base-fontsize;

//Button

$btn-font: $base-font;
$btn-lineheight: $base-lineheight;
$btn-fontsize: $base-fontsize;
$btn-color: $c-action;

//Quotes

$quotes-font: $base-font;
$quotes-weight: $base-weight;
$quotes-lineheight: $base-lineheight;
$quotes-fontsize: $base-fontsize;
$quotes-color: $c-font-base;
$quotes-maxwidth: $text-maxwidth;
$quotes-fontstyle: italic;

$cite-font: $base-font;
$cite-weight: $base-weight;
$cite-fontsize: $base-fontsize;

//forms

$form-font: $base-font;
$form-fontsize: $base-fontsize;
$form-color: $c-font-base;